{% extends "layout.html" %}
{% block content %}

<h6 class="mt-4 mb-4" style="color: maroon"><i><b>TODO:</b> Automatically pull paper data from arxiv. 🙃</i></h6>

<form action="/add_paper" method="POST">
  <div class="form-group">
    <label for="title">Paper Title</label>
    <input name="title" class="form-control" id="paperName" placeholder="ex: Parsimonious Black-Box Adversarial Attacks via Efficient Combinatorial Optimization">
  </div>
    <div class="form-group">
      <label for="author">Paper Author</label>
      <input name="author" class="form-control" id="authorName" placeholder="ex: Ian Goodfellow">
    </div>
  <div class="form-group">
    <label for="source">Source</label>
    <input name="source" class="form-control" id="paperSource" placeholder="ex: deep2Read/Basic16- Basic DNN Reads we finished for NLP/Text">
    <small id="sourceHelp" class="form-text text-muted">@TODO this should autosuggest from sources.</small>
  </div>
  <div class="form-check m-4">
    <input name="inQueue" class="form-check-input" type="checkbox" value="" id="inQueue">
    <label class="form-check-label" for="inQueue">
      <b>Paper is still in my queue (I haven't finished reading it yet)</b>
    </label>
  </div>
  <div class="form-group row">
    <label for="example-date-input" class="col-2 col-form-label">Date Published</label>
    <div class="col-10">
      <input class="form-control" name="datePublished" type="date" value="2011-08-19" id="example-date-input">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-date-input" class="col-2 col-form-label">Date Read</label>
    <div class="col-10">
      <input class="form-control" name="dateRead" type="date" value="2019-06-25" id="example-date-input">
    </div>
  </div>
  <hr>
  <div class="form-group">
    <h5>Summary:</h5>
    <div class="row">
      <div class="col-7">
        <textarea name="summary" class="form-control" rows="10" id="paperSummary"></textarea>
      </div>
      <div class="col-5">
        <div class="card card-body bg-light" id="comments-preview"></div>
      </div>
  </div>
  <hr>
  <div class="form-group">
    <h5>Future Work:</h5>
    <div class="row">
      <div class="col-7">
        <textarea name="futureWork" class="form-control" rows="10" id="futureWork"></textarea>
      </div>
      <div class="col-5">
        <div class="card card-body bg-light" id="future-work-preview"></div>
      </div>
  </div>
  <hr>
  <div class="form-group">
    <h5>Other Thoughts:</h5>
    <div class="row">
      <div class="col-7">
        <textarea name="otherThoughts" class="form-control" rows="10" id="otherThoughts"></textarea>
      </div>
      <div class="col-5">
        <div class="card card-body bg-light" id="other-thoughts-preview"></div>
      </div>
  </div>
  <button type="submit" class="btn btn-primary mt-4">Submit</button>

  <small class="text-muted"><b>@TODO</b> Add tags.</small>
</form>

<script>
  // Populate markdown field on textarea typing.
  $('#paperComments').on('change keyup paste', (el) => {
    let markdown = $('#paperComments').val();
    console.log('md:', markdown);
    let markdownHtml = converter.makeHtml(markdown);
    $('#comments-preview').html(markdownHtml);
  });
</script>

{% endblock %}
