{% extends "layout.html" %}
{% block content %}

PAPER: {{ paper.to_json() }}

<h6 class="mt-4 mb-4" style="color: maroon"><i><b>TODO:</b> Automatically pull paper data from arxiv. 🙃</i></h6>

<form action="/edit_paper" method="POST">
  <!-- paper ID, if this is editing. -->
  <input type="hidden" id="id" name="id" value="{{paper.id}}">
  <div class="form-group">
    <label for="title">Paper Title</label>
    <input name="title" class="form-control" id="paperName"
      value="{{ paper.title }}"
      placeholder="ex: Parsimonious Black-Box Adversarial Attacks via Efficient Combinatorial Optimization">
  </div>
    <div class="form-group">
      <label for="author">Paper Author</label>
      <input name="author" class="form-control" id="authorName"
        value="{{paper.author}}"
        placeholder="ex: Ian Goodfellow">
    </div>
  <div class="form-group">
    <label for="source">Source</label>
    <input name="source" class="form-control" id="paperSource"
      value="{{paper.source}}"
      placeholder="ex: deep2Read/Basic16- Basic DNN Reads we finished for NLP/Text">
    <small id="emailHelp" class="form-text text-muted">@TODO this should autosuggest from sources.</small>
  </div>
  <div class="form-check m-4">
    {% if paper.inQueue == 0 %}
      <input name="inQueue" class="form-check-input" type="checkbox" id="inQueue">
    {% else %}
      <input name="inQueue" class="form-check-input" type="checkbox" checked id="inQueue">
    {% endif %}
    <label class="form-check-label" for="inQueue">
      <b>Paper is still in my queue (I haven't finished reading it yet)</b>
    </label>
  </div>
  <div class="form-group row">
    <label for="example-date-input" class="col-2 col-form-label">Date Published</label>
    <div class="col-10">
      <input class="form-control" name="datePublished" type="date"
        value="{{paper.datePublished}}" id="example-date-input">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-date-input" class="col-2 col-form-label">Date Read</label>
    <div class="col-10">
      <input class="form-control" name="dateRead" type="date"
        value="{{paper.dateRead}}" id="example-date-input">
    </div>
  </div>
  <hr>
  <div class="form-group">
    <h5>Summary:</h5>
    <div class="row">
      <div class="col-7">
        <textarea name="summary" class="form-control" rows="10"
          value="{{paper.summary}}"
          id="paperSummary"></textarea>
      </div>
      <div class="col-5">
        <div class="card card-body bg-light" id="comments-preview"></div>
      </div>
  </div>
  <hr>
  <div class="form-group">
    <h5>Future Work:</h5>
    <div class="row">
      <div class="col-7">
        <textarea name="futureWork" class="form-control" rows="10"
          value="{{paper.futureWork}}"
          id="futureWork"></textarea>
      </div>
      <div class="col-5">
        <div class="card card-body bg-light" id="future-work-preview"></div>
      </div>
  </div>
  <hr>
  <div class="form-group">
    <h5>Other Thoughts:</h5>
    <div class="row">
      <div class="col-7">
        <textarea name="otherThoughts" class="form-control" rows="10"
          value={{paper.otherThoughts}}
          id="otherThoughts"></textarea>
      </div>
      <div class="col-5">
        <div class="card card-body bg-light" id="other-thoughts-preview"></div>
      </div>
  </div>
  <button type="submit" class="btn btn-primary mt-4">Submit</button>

  <small class="text-muted"><b>@TODO</b> Add tags.</small>
</form>

<script>
  // Populate markdown field on textarea typing.
  $('#paperComments').on('change keyup paste', (el) => {
    let markdown = $('#paperComments').val();
    console.log('md:', markdown);
    let markdownHtml = converter.makeHtml(markdown);
    $('#comments-preview').html(markdownHtml);
  });
</script>

{% endblock %}
