{% extends "layout.html" %}
{% block content %}

<div style="width: 100%; height: 100%;">

  <div class="align-middle text-center">
    <br> <br>
    <br> <br>
    <h1>
      <a href="/papers">
        <i class="fas fa-paper-plane"></i>
        Papers
      </a>
      <br> <br>
      <a href="#">
        <i class="fas fa-book"></i>
        Books
      </a>
    </h1>
    <br>
    <small style="font-weight:bold">@TODO this should show a feed of my latest reads from anywhere. And maybe some stats?</small>
  </div>
</div>

{% endblock %}
