{% extends "layout.html" %}
{% block content %}

<div class="card m-4 card-body bg-light paper-card">
  <h5>{{ paper.title }} </h5>
  <p> Source: {{ paper.source }}</p>
  <p> Date Published: {{ paper.datePublished }} </p>
  <p> Date Read: {{ paper.dateRead }} </p>
  <h6> Summary: </h6>
  <div class="markdown p-2">
    {{ paper.summary }}
  </div>
  <h6> Future Work: </h6>
  <div class="markdown p-2">
    {{ paper.futureWork }}
  </div>
  <h6> Other Thoughts: </h6>
  <div class="markdown p-2">
    {{ paper.otherThoughts }}
  </div>

</div>

{% endblock %}
