{% extends "layout.html" %}
{% block content %}

<div class="row">
  <div class="col-8" id="recent-reads">
    <div class="mb-3">
      <h2 class="float-left ml-4">Recent Reads</h2>
      <a class="btn btn-primary float-right" href="/add" role="button" style="background: purple; border: none">
        <!-- todo make this button nicer -->
          <i class="fas fa-plus-circle"></i>
          Add a paper
        </a>
    </div>
    <br>
    {% if papers_read %}
      {% for paper in papers_read %}
        {% with paper=paper %}
          {% include 'paper-preview.html' %}
        {% endwith %}
      {% endfor %}
    {% else %}
      No papers. Get reading and log one here!
    {% endif %}
  </div>
  <div class="col-4" id="queue">
    <h2 class="ml-4 mb-4">Queue</h2>
      {% if papers_in_queue %}
        {% for paper in papers_in_queue %}
          {% with paper=paper %}
            {% include 'paper-preview.html' %}
          {% endwith %}
        {% endfor %}
      {% else %}
        Add some papers to the queue! 🤗
      {% endif %}
  </div>
</div>

{% endblock %}
