{% extends "layout.html" %}
{% block content %}

<div class="card m-4 card-body bg-light paper-card">
  <div class="row">
    <h5 class="col">{{ paper.title }} </h5>
    <a class="btn btn-primary mr-4" href="/edit/{{paper.id}}" role="button"
        style="background: orange; border: none">Edit</a>
  </div>
  <p> Source: {{ paper.source }}</p>
  <p> Date Published: {{ paper.datePublished }} </p>
  {% if paper.dateRead %}
    <p> Date Read: {{ paper.dateRead }} </p>
  {% else %}
    <p><i>Paper has not been read yet.</i></p>
  {% endif %}
  <h6> Summary: </h6>
  {% if paper.summary %}
    <div class="markdown p-2">{{ paper.summary }}</div>
  {% endif %}
  {% if paper.futureWork %}
    <h6> Future Work: </h6>
    <div class="markdown p-2">{{ paper.futureWork }}</div>
  {% endif %}
  {% if paper.otherThoughts %}
    <h6> Other Thoughts: </h6>
    <div class="markdown p-2">{{ paper.otherThoughts }}</div>
  {% endif %}
</div>

<style>
h6 {
  margin-top: 8px;
}
</style>

{% endblock %}
